<tr>
  <td><%= t("name") %>:</td>
  <td><%= f.text_field :name, :class => 'fullwidth name' %></td>
</tr>
<tr>
  <td><%= t("width") %>:</td>
  <td><%= f.text_field :width, :class => 'fullwidth name' %></td>
</tr>
<tr>
  <td><%= t("height") %>:</td>
  <td><%= f.text_field :height, :class => 'fullwidth name' %></td>
</tr>
<tr>
  <td><%= t("title") %>:</td>
  <td><%= f.text_field :title, :class => 'fullwidth name' %></td>
</tr>
<tr>
  <td><%= t("html") %>:</td>
  <td><%= f.text_area :html %></td>
</tr>
<tr>
  <td><%= t("filename") %>:</td>
  <td><%= f.file_field :image %></td>
</tr>
<tr>
  <td><%= t("popup_image") %>:</td>
  <td><%= f.file_field :popup %></td>
</tr>