<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Productpage Blocks"} %>

<table class="index sortable">
  <tr>
    <th><%= t("name") %></th>
  </tr>

  <% @product.productpage_blocks.each do |productpage_block| %>
    <tr id="<%= dom_id(productpage_block) %>">
      <td>
        <span class="handle"></span>
        <% if productpage_block.image.file? %>
        	<%= link_to(image_tag(productpage_block.image.url(:mini)), productpage_block.image.url) %>
        <% end %>
      </td>
      <td><%= productpage_block.name %></td>
      <td class="actions">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_product_productpage_block_url(@product, productpage_block), :class => 'edit') %>
        &nbsp;
        <%= link_to_delete productpage_block, {:url => admin_product_productpage_block_url(@product, productpage_block) }%>
      </td>
    </tr>
  <% end %>
</table>

<div id="productpage_block"></div>
<br/>
<p>
    <%= link_to icon('add') + ' ' + t("new_productpage_block"), new_admin_product_productpage_block_url(@product), :id => "new_productpage_block_link" %>
</p>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_productpage_block_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#productpage_block').html(r);} });
      });

    });
  </script>
<% end %>
